.Left-column-container {
    border-right: '1px solid lightgrey';
}

.Left-column-container h2 {
    font-weight: 200;
}

.Results-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .Results-container {
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
}