.Card-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 0 1rem 1rem 1rem;
    background-color: white;
}

.Card-container img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Button-green {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.Button-green:disabled {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

.Button-red {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: darkred;
    color: white;
}

.Card-content {
    width: 100%;
    margin: 1rem 1rem;
    text-align: left;
}

.Card-content h2 {
    margin: 0;
}

@media (max-width: 1000px) {
    .Card-container {
        flex-direction: column;
        width: 300px;
    }
}